# Azure OpenAI
AZURE_OPENAI_API_KEY="{azure_openai_api_key}"
AZURE_OPENAI_ENDPOINT="https://{AOAIname}.openai.azure.com"
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="gpt-4.1"
AZURE_OPENAI_API_VERSION="2025-01-01-preview"
SCHEMA_LLM_TOKEN_LIMIT=1500

# PostgreSQL Database
PGUSER="{AAD_service_principal}"
PGHOST="{postgresflexservername}.postgres.database.azure.com"
PGPASSWORD="" # Intentionally left blank to use AAD authentication
PGDATABASE="advworks"
PGSSLMODE="require"
AZURE_USE_AAD=True
AZURE_CLIENT_ID="{service_principal_client_id}"
AZURE_CLIENT_SECRET="{AAD_service_principal_secret}"
AZURE_TENANT_ID="{entra_id_tenant_id}"
AZURE_SUBSCRIPTION_ID="{subscription_id}"
AZURE_RESOURCE_GROUP="{rg_name}"

# MCP Server
MCP_URL="http://localhost:8003/mcp"
